#
# This file sets the global options for the 
# bolt tool.
#
# Currently, the following options are set:
#
#  + default resource - The name of the default
#      compute resource to use on this installation.
#      This resource name must match one of the 
#      resources defined in the resources configuration
#      files
#
[global options]
default resource: HECToR
